{% extends "master.html" %}

{% block title %}
Airport Booking System
{% endblock %}

{% block body %}
<form action="\">
  <button> Home </button>
</form>

<h1>Create flight</h1>
<form action="http://127.0.0.1:5000/create_flight" method="post">
  <label for="id" required>ID:</label><br>
  <input type="text" required id="id" name="id" value=""><br>
  <label for="destination" required>Destination:</label><br>
  <input type="text" required id="destination" name="destination" value="" ><br>
  <label for="time" required >Time and date:</label><br>
  <input type="text" required id="time" name="time" value=""><br><br>
  <label for="duration">Duration:</label><br>
  <input type="text" required id="duration" name="duration" value=""><br><br>
  <label for="price" required >Price:</label><br>
  <input type="text" required id="price" name="price" value=""><br><br>
  <label for="planes" required >Choose a plane:</label>
<select name="planes" id="planes">
  {% for dropdown in plane_list %}
   <option value="{{ dropdown }}">{{ dropdown.id }} {{ dropdown.max_capacity }}</option>
   {% endfor %}
</select>
  <input type="submit" value="Create">
</form>



{% endblock %}
