{% extends "master.html" %}

{% block title %}
Airport Booking System
{% endblock %}

{% block body %}
<h1>Create flight</h1>
<form action="http://127.0.0.1:5000/create_flight" method="post">
  <label for="id">ID:</label><br>
  <input type="text" id="id" name="id" value=""><br>
  <label for="destination">Destination:</label><br>
  <input type="text" id="destination" name="destination" value=""><br>
  <label for="time">Time and date:</label><br>
  <input type="text" id="time" name="time" value=""><br><br>
  <label for="duration">Duration:</label><br>
  <input type="text" id="duration" name="duration" value=""><br><br>
  <label for="price">Price:</label><br>
  <input type="text" id="price" name="price" value=""><br><br>
  <label for="planes">Choose a plane:</label>
<select name="planes" id="planes">
  {% for dropdown in plane_list %}
   <option value="{{ dropdown }}">{{ dropdown.id }} {{ dropdown.max_capacity }}</option>
   {% endfor %}
</select>
  <input type="submit" value="Create">
</form>



{% endblock %}
