{% extends "master.html" %}

{% block title %}
Airport Booking System
{% endblock %}

{% block body %}
<form  method="POST" >
<p><strong>information for Flight ID: {{flight_id}}:</strong></p>
<ul>
{% for i in data %}
    <table style="width:20%">
         <tr>
            <th>Plane ID</th>
            <th>Destination</th>
             <th>Duration</th>
             <th>Time</th>
             <th>Price</th>
         </tr>
         <tr>
            <td> {{i.Plane_ID}}</td>
             <td>{{i.Destination}}</td>
            <td>{{i.Duration}}</td>
            <td>{{i.Date}}</td>
             <td>{{i.Price}}</td>
         </tr>
    </table>
    {% endfor %}
    <form action="http://127.0.0.1:5000/flight_trip/" method="post">
        <label for="planes">Reassign plane:</label>
        <select name="planes" id="planes">
            {% for dropdown in plane_list %}
            <option value="{{ dropdown }}">{{ dropdown.id }} Capacity:{{ dropdown.max_capacity }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Assign">
    </form>
</ul>
    <br>

    <p>Please fill in this form to add a customer to this flight.</p>
    <hr>
    <label for="Customer Name"><b>Customer Name</b></label>
    <input type="text" placeholder="Customer Name" name="Name" required>

    <label for="psw"><b>Passport</b></label>
    <input type="text" placeholder="Enter customer Passport" name="psw" required>


      <button type="submit" >Add Customer</button>
 <hr>

</form>

  <div >
        <button type="submit" >Generate Customer Report</button>
  </div>



{% endblock %}
